.dog-pics {
    align-items: center;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.image-container {
    /*border: 1px solid blue;*/
    max-height: 25.0rem;
    width: auto;
}

button {
    width: 8.0rem;
}