.challenge1 {
    background-color: gray;
    border-radius: 1.0em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.5rem;
    margin: 1.0em;
    padding: 1.0em;
}

.color-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.0em;
}

.color-square {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2.0em;
    margin: 1.0em;
    width: 40%;
}